.container {
  max-width: 1280px;
  margin: 32px auto;
  padding: 16px 20px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9fafb;
    border: 2px solid #e5e7eb;
    border-radius: 10px 10px 0 0;
    padding: 0.475rem 0.775rem;
    margin-bottom: 0 !important;

    .title {
      color: #111827;
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
    }
  }

  .form {
    background-color: #f9fafb;
    border-left: 2px solid #e5e7eb;
    border-right: 2px solid #e5e7eb;
    padding: 0.875rem 0.775rem;
    border-bottom: 2px solid #e5e7eb;
    border-radius: 0 0 10px 10px;
    margin-bottom: 1.075rem;
  }

  .footer {
    padding: 0.375rem 0.275rem 0.375rem 0.775rem;
  }
}

:host ::ng-deep {
  .p-select {
    border: 1px solid #e6e9ee;
    border-radius: 6px;
    background: #ffffff;
    height: 36px;
    padding: 0 0.75rem;
    display: inline-flex;
    align-items: center;
  }

  .p-button .p-button-icon {
    font-size: 12px;
  }
  .p-button-icon-only .p-button-icon {
    font-size: 11px;
  }
}

:host input[name='content'] {
  background: #ffffff;
  border: 1px solid #e6e9ee;
  border-radius: 6px;
  height: 36px;
}
